In [5]:
import pandas as pd
import numpy as np
import requests
import json

In [6]:
# The URL from which to download the CSV
RESTAURANT_URL = "https://data.cityofnewyork.us/api/views/43nn-pn8j/rows.csv?fourfour=43nn-pn8j&cacheBust=1711046033&date=20240322&accessType=DOWNLOAD"

# Send a GET request to the URL
response = requests.get(RESTAURANT_URL)
# Check if the request was successful
if response.status_code == 200:
    # Open a file in binary write mode
    with open('restaurant_data.csv', 'wb') as file:
        # Write the content of the response to the file
        file.write(response.content)
    print("CSV file has been downloaded and saved as 'restaurant_data.csv'.")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

CSV file has been downloaded and saved as 'restaurant_data.csv'.

In [7]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('restaurant_data.csv')

In [8]:
df_brooklyn = df[df['BORO'] == 'Brooklyn']

df_brooklyn

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
2,50140155,KEYBAR BK,Brooklyn,143,TROUTMAN STREET,11206.0,6465545982,NaN,01/01/1900,NaN,...,NaN,40.700025,-73.929303,304.0,34.0,42500.0,3072256.0,3.031720e+09,BK78,NaN
4,50145465,MR MELO,Brooklyn,61,WITHERS STREET,11211.0,9148261144,NaN,01/01/1900,NaN,...,NaN,40.716862,-73.950179,301.0,33.0,51500.0,3338065.0,3.027360e+09,BK73,NaN
6,50140135,BAR56,Brooklyn,55,WATER STREET,11201.0,9144711128,NaN,01/01/1900,NaN,...,NaN,40.703294,-73.992047,302.0,33.0,2100.0,3000019.0,3.000260e+09,BK38,NaN
9,50148747,NaN,Brooklyn,385,FLATBUSH AVENUE EXT,11201.0,2138190492,NaN,01/01/1900,NaN,...,NaN,40.690288,-73.981375,302.0,35.0,3100.0,3338887.0,3.020858e+09,BK68,NaN
11,50143247,COSZCAL DE ALLENDE RESTAURANT,Brooklyn,7506,3 AVENUE,11209.0,7187372166,NaN,01/01/1900,NaN,...,NaN,40.631323,-74.027856,310.0,43.0,6600.0,3148679.0,3.059390e+09,BK31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226385,50041401,FUSION EAST,Brooklyn,1165,ELTON STREET,11239.0,7189755065,Caribbean,02/23/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.656053,-73.873720,305.0,42.0,107000.0,3398621.0,3.044528e+09,BK82,NaN
226388,50131646,GINJAN CAFE,Brooklyn,333,NOSTRAND AVENUE,11216.0,9292489696,African,08/24/2023,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,40.686818,-73.950850,303.0,36.0,25100.0,3050881.0,3.018080e+09,BK75,NaN
226392,50145559,TEX*S CHICKEN & BURGERS,Brooklyn,2028,BATH AVENUE,11214.0,7185130420,Chicken,04/22/2024,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,40.600845,-74.000702,311.0,47.0,28600.0,3168847.0,3.064430e+09,BK27,NaN
226395,50065314,SWEETGREEN,Brooklyn,50,WASHINGTON STREET,11201.0,3479874185,Salads,04/26/2022,Violations were cited in the following area(s).,...,Calorie Posting / Initial Inspection,40.702827,-73.989617,302.0,33.0,2100.0,3329425.0,3.000370e+09,BK38,NaN
226399,50059006,GLAZE TERIYAKI,Brooklyn,145,NORTH 4 STREET,11211.0,3479873950,Japanese,10/11/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.715981,-73.959198,301.0,34.0,55300.0,3062334.0,3.023440e+09,BK73,NaN

In [9]:
df_brooklyn = pd.concat([df_brooklyn], ignore_index=True)

In [10]:
df_brooklyn.shape

(60878, 27)