In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
# The URL from which to download the CSV
RESTAURANT_URL = "https://data.cityofnewyork.us/api/views/43nn-pn8j/rows.csv?fourfour=43nn-pn8j&cacheBust=1711046033&date=20240322&accessType=DOWNLOAD"

# Send a GET request to the URL
response = requests.get(RESTAURANT_URL)
# Check if the request was successful
if response.status_code == 200:
    # Open a file in binary write mode
    with open('restaurant_data.csv', 'wb') as file:
        # Write the content of the response to the file
        file.write(response.content)
    print("CSV file has been downloaded and saved as 'restaurant_data.csv'.")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

CSV file has been downloaded and saved as 'restaurant_data.csv'.

In [3]:
# Load the CSV file into a DataFrame
df = pd.read_csv('restaurant_data.csv')

In [4]:
df_queens = df[df['BORO'] == 'Queens']

In [5]:
df_queens.shape

(53043, 27)

In [6]:
df_queens.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point1'],
      dtype='object')

In [7]:
df_queens

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50143838,FAIRFIELD INN & SUITES,Queens,14818,ARCHER AVE,11435.0,9177915754,NaN,01/01/1900,NaN,...,NaN,40.700986,-73.805825,412.0,27.0,20800.0,4619928.0,4.099980e+09,QN61,NaN
1,50148883,MOLLY TEA,Queens,3711C,PRINCE ST,11354.0,9172387551,NaN,01/01/1900,NaN,...,NaN,40.760456,-73.832760,407.0,20.0,87100.0,4112279.0,4.049740e+09,QN22,NaN
2,50049739,CITI FIELD GOYA NACHOS & BURRITOS STAND 414,Queens,126TH ST &,ROOSEVELT AVE,NaN,7185958192,American,06/05/2018,No violations were recorded at the time of thi...,...,Cycle Inspection / Initial Inspection,0.000000,0.000000,NaN,NaN,NaN,NaN,4.000000e+00,NaN,NaN
4,50106464,(FSE LOCATED IN JFK TERMINAL 8),Queens,14438,87TH AVE,11435.0,9176840703,NaN,01/01/1900,NaN,...,NaN,40.706793,-73.811720,408.0,24.0,23200.0,4207368.0,4.097030e+09,QN35,NaN
7,50101716,Roosevelt BBQ,Queens,13688,ROOSEVELT AVE,11354.0,7188880997,NaN,01/01/1900,NaN,...,NaN,40.760184,-73.827599,407.0,20.0,85300.0,4583979.0,4.050190e+09,QN22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223679,50066476,MERIT KABAB,Queens,3767,74TH ST,11372.0,7183965827,Bangladeshi,02/13/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,40.747173,-73.891484,403.0,25.0,28900.0,4029814.0,4.012850e+09,QN28,NaN
223680,50082406,BURGER KING,Queens,12002,LIBERTY AVE,11419.0,9173005405,Hamburgers,09/23/2021,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.686582,-73.823233,410.0,28.0,16600.0,4204288.0,4.095740e+09,QN55,NaN
223683,50138915,QUEENS BAGEL AND DELICATESSEN,Queens,11520,QUEENS BLVD,11375.0,7188982121,American,09/11/2023,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,40.716294,-73.833792,406.0,29.0,76902.0,4079940.0,4.033420e+09,QN17,NaN
223684,41523226,THE LITTLE CHINANTLA RESTAURANT,Queens,9606,43 AVENUE,11368.0,7182058999,Mexican,09/07/2023,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Initial Inspection,40.745682,-73.867761,404.0,21.0,37500.0,4040398.0,4.016130e+09,QN26,NaN
223685,50122495,YUMMY A Chinese restaurant,Queens,15329,ROCKAWAY BLVD,11434.0,7185253828,Other,10/19/2022,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,40.669761,-73.782842,412.0,28.0,29400.0,4594692.0,4.122920e+09,QN02,NaN