In [ ]:
!pip install pymongo
!pip install google-cloud-storage
!pip install fuzzywuzzy
!pip install "pymongo[srv]"

Collecting pymongo
  Downloading pymongo-4.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (670 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 670.0/670.0 kB 3.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 14.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.2
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.10/dist-packages (2.8.0)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.27.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.11.1)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.3.3)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.7.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.31.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (1.63.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (3.20.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage) (1.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2024.2.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.6.0)
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.7.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)

In [ ]:
from google.cloud import storage
import pandas as pd
import pandas as pd
import numpy as np
import requests
import json
from io import StringIO
from pymongo import MongoClient
from fuzzywuzzy import fuzz
import math
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from pymongo.errors import BulkWriteError

/usr/local/lib/python3.10/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
# Specify the name of your bucket
bucket_name = 'restaurant-dataset'

# Authenticate using a service account key
# Replace 'path/to/your/service-account-key.json' with the path to your service account key file
storage_client = storage.Client.from_service_account_json('/content/nyc-restaurants-419717-ee6c1bb0dd8b.json')

# Access the specified bucket
bucket = storage_client.bucket(bucket_name)

In [ ]:
# Specify the folder name within the bucket
folder_name = 'df_raw'

#specify name of the CSV file in the bucket
blob = bucket.blob (f'{folder_name}/ManhattanInspect.csv')

# Download the CSV file
blob.download_to_filename('ManhattanInspect.csv')

# Read the CSV file into a DataFrame
df_manhattan = pd.read_csv('ManhattanInspect.csv')

# Display the DataFrame
df_manhattan.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50148774,POKE INN,Manhattan,357,W 49TH ST,10019.0,6462873817,NaN,01/01/1900,NaN,...,NaN,40.762251,-73.987958,104.0,3.0,12700.0,NaN,1.000000e+00,MN15,NaN
1,50148426,NaN,Manhattan,714,2 AVENUE,10016.0,6464550644,NaN,01/01/1900,NaN,...,NaN,40.747603,-73.973816,106.0,4.0,7800.0,1021921.0,1.009440e+09,MN20,NaN
2,50065323,RESOBOX,Manhattan,91,EAST 3 STREET,10003.0,2125985993,Japanese,06/12/2019,Establishment re-opened by DOHMH.,...,Cycle Inspection / Reopening Inspection,40.724818,-73.988055,103.0,2.0,3800.0,1006184.0,1.004450e+09,MN22,NaN
3,50146050,NaN,Manhattan,3775,10 AVENUE,10034.0,6466670725,NaN,01/01/1900,NaN,...,NaN,40.861351,-73.921184,112.0,10.0,29900.0,1064490.0,1.021990e+09,MN01,NaN
4,50148667,NaN,Manhattan,90,EAST BROADWAY,10002.0,6463397216,NaN,01/01/1900,NaN,...,NaN,40.713760,-73.993796,103.0,1.0,800.0,1003544.0,1.002820e+09,MN27,NaN

In [ ]:
df_manhattan_clean = df_manhattan.dropna(subset=['DBA'])
df_manhattan_unique = df_manhattan_clean.drop_duplicates(subset=['DBA'], keep='first')
df_manhattan_sorted = df_manhattan_unique.sort_values(by=['Latitude', 'Longitude'], ascending=False)
df_manhattan_sorted.head()
print(df_manhattan_sorted.shape)

(8825, 27)

In [ ]:
# Initialize an empty DataFrame to accumulate Yelp data
df_yelp = pd.DataFrame()

#specify name of the CSV file in the bucket
blob = bucket.blob (f'{folder_name}/yelp_data_clean.csv')

# Download the CSV file
blob.download_to_filename('yelp_data_clean.csv')

# Read the CSV file into a DataFrame
df_yelp_restaurants = pd.read_csv('yelp_data_clean.csv')

# Display the DataFrame
print(df_yelp_restaurants.shape)

(8266, 17)

In [ ]:
# Connect to MongoDB (update the connection string as necessary)
uri = "mongodb+srv://yelpuser:cis4400team1@yelpratingreviews.rtujdm1.mongodb.net/?retryWrites=true&w=majority&appName=yelpratingreviews&ssl=true"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'),connect=False)
db = client['yelpdata']
collection = db['yelpratings']

In [ ]:
# Create an index on the 'id' to prevent duplicate record
# index_id = collection.create_index([('id', 1)], unique=True)
# print(f"Index created: {index_id}")

# Create an index on the 'name' field
# index_name = collection.create_index([('name', 1)])  # '1' for ascending order
# print(f"Index created: {index_name}")

In [ ]:
!curl ipecho.net/plain

34.72.84.77

In [ ]:
#convert dataframe to json array and send it to the mongodb only run this once.
#json = df_yelp_restaurants.to_dict(orient='records')
#result = collection.insert_many(json)

In [ ]:
# Mock function simulating the API call, returning multiple restaurants
def query_api(Latitude, Longitude):
  TOKEN = "TVpi8MJhhakMY3F9_N2Jo6gogVBs3VI7iZixtm0PX3L_FpeDLBYcPOZR10QAmM8XaOoJeD4Jz7rFdRw21tHLUsVWwrWSGQozrXa9oTBpifTdcWwReKl6wZHoVr46ZnYx"
  headers = { "accept": "application/json", "Authorization": f"Bearer {TOKEN}"}
  url = f"https://api.yelp.com/v3/businesses/search?location=NYC&latitude={Latitude}&longitude={Longitude}&term=restaurants&radius=100&sort_by=review_count&limit=50&offset=1"
  response = requests.get(url, headers=headers)
  if response.status_code == 200:
    data = response.json()
    business_names = [business['name'] for business in data['businesses']]
  return data['businesses'], business_names

In [ ]:
index_to_skip = []
threshold = 50

restaurants_unique_api = list(collection.find({}, {'name': 1, 'rating': 1, 'review_count': 1}))
len(restaurants_unique_api)

24942

In [ ]:
df_manhattan_sorted.shape

(8825, 29)

In [ ]:
# Use iterrows() to iterate through DataFrame rows
for index, row in df_manhattan_sorted.iterrows():
    if index in index_to_skip and len(index_to_skip) > 0 :
      continue
    # Check if the current restaurantName is in the set of restaurants to remove
    restaurant_name = row['DBA']
    print(restaurant_name)
    if len(restaurants_unique_api) > 0:
      for restaurant in restaurants_unique_api:
        # Check against each name in the DataFrame
        match_score = fuzz.token_set_ratio(restaurant_name, restaurant['name'])
        if match_score >= threshold:
          (f"{restaurant_name} is in mongo")
          df_manhattan_sorted.loc[index, 'yelp_rating'] = restaurant['rating']
          df_manhattan_sorted.loc[index, 'yelp_review_count'] = restaurant['review_count']
          break

    # Call the API for each row's latitude and longitude not in restaurants_unique_api
    api_response_restaurants, restaurant_list = query_api(row['Latitude'], row['Longitude'])
    print(api_response_restaurants)

    if(len(api_response_restaurants) > 0):
      # Send to api_response_restaurants to mongodb or anything because I want to keep those values for future references
      # Also making sure that I am skipping any duplicate
      try:
        result = collection.insert_many(api_response_restaurants, ordered=False)
        print("Inserted IDs:", result.inserted_ids)
      except BulkWriteError as e:
        print("Bulk write error occurred:", e.details)

      for restaurant in api_response_restaurants:
        match_score = fuzz.token_set_ratio(restaurant_name, restaurant['name'])
        if match_score >= threshold:
          # Append the matching restaurant's rating and review count
          print(f"Rating for '{restaurant_name}': {restaurant['rating']}")
          print(f"Review Count for '{restaurant_name}': {restaurant['rating']}")
          df_manhattan_sorted.loc[index, 'yelp_rating'] = restaurant['rating']
          df_manhattan_sorted.loc[index, 'yelp_review_count'] = restaurant['review_count']
          break
    index_to_skip.append(index)
    restaurants_unique_api = list(collection.find({}, {'name': 1, 'rating': 1, 'review_count': 1}))

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
_print(index_to_skip)

[1752, 5462, 6371, 646, 11993, 545, 2590, 7194, 2418, 8122, 1383, 5368, 127, 2629, 11034, 2098, 2424, 4097, 10889, 2126, 8225, 2783, 4343, 62, 971, 3326, 2316, 8815, 4729, 389, 1343, 1686, 10607, 1562, 658, 19165, 3015, 2674, 332, 3491, 1491, 908, 19217, 4775, 17038, 1102, 2034, 531, 2506, 1715, 711, 14868, 18049, 2899, 323, 865, 1925, 4344, 271, 2125, 462, 1920, 1212, 3156, 543, 3658, 3687, 104, 714, 3272, 14193, 2503, 527, 7548, 607, 13864, 909, 7361, 6158, 1069, 12834, 745, 895, 1493, 1860, 4770, 4736, 282, 536, 2132, 738, 5186, 1888, 1067, 1419, 188, 2402, 65, 33, 468, 4459, 951, 1522, 99, 570, 1430, 860, 2344, 310, 2155, 380, 540, 7444, 1437, 5221, 14099, 8629, 1050, 42, 1265, 228, 914, 8091, 12, 1979, 2626, 9534, 9113, 546, 17, 6459, 2828, 1331, 999, 6736, 2455, 1778, 4849, 297, 1973, 419, 491, 18339, 319, 1704, 2406, 277, 1480, 1565, 642, 15753, 2265, 2858, 774, 2967, 6597, 3101, 1532, 5491, 1468, 8171, 1336, 1075, 14691, 507, 5321, 14453, 1408, 247, 1207, 6164, 576, 333, 552, 1021, 5084, 3170, 3917, 5439, 9354, 1275, 287, 628, 2979, 2646, 346, 5166, 4, 3168, 206, 2538, 1993, 1317, 2060, 6148, 3871, 3993, 143, 53, 4913, 4341, 8371, 1315, 2543, 2233, 1840, 167, 275, 503, 1552, 561, 203, 153, 14385, 512, 8121, 1984, 6062, 569, 1903, 120, 1082, 977, 11152, 2502, 5456, 3891, 198, 1118, 1914, 627, 1452, 1286, 602, 1114, 2456, 1879, 1229, 18, 937, 1046, 472, 2755, 1185, 483, 108, 2356, 5650, 7958, 566, 24, 696, 2973, 2340, 375, 4526, 173, 6511, 6210, 9170, 780, 14994, 1892, 1149, 184, 2063, 216, 1371, 2588, 306, 820, 399, 176, 3598, 638, 4145, 9723, 344, 2068, 750, 3938, 1396, 106, 280, 631, 465, 17528, 2010, 8461, 4661, 7498, 4855, 958, 7312, 764, 3150, 436, 4738, 2071, 195, 1347, 3127, 114, 3987, 876, 431, 11860, 1398, 47, 245, 915, 632, 1115, 2436, 1411, 1963, 137, 20, 8961, 348, 338, 3054, 521, 861, 186, 1097, 968, 4059, 157, 3963, 3148, 351, 2231, 2437, 1546, 4016, 4902, 164, 653, 1736, 2673, 7530, 1147, 45, 1665, 4534, 3452, 2335, 449, 2417, 1489, 7526, 4079, 229, 134, 1228, 2793, 334, 457, 185, 6, 5381, 772, 149, 1182, 76, 1922, 217, 4465, 1995, 4802, 487, 768, 815, 1261, 80, 1389, 204, 15938, 1339, 3504, 3123, 1808, 315, 1043, 1094, 6598, 2771, 4174, 2, 3316, 391, 2386, 471, 778, 7302, 1237, 1042, 207, 2031, 481, 1100, 6618, 6813, 3671, 973, 5340, 281, 896, 11509, 3756, 1577, 3703, 2253, 2044, 211, 1457, 1718, 237, 2856, 2024, 722, 784, 918, 11181, 1614, 9458, 1388, 2839, 5464, 5227, 200, 84, 3039, 115, 13046, 3070, 6231, 712, 6928, 5457, 9874, 123, 1602, 1702, 456, 508, 673, 27, 3115, 1937, 3325, 1575, 2394, 4413, 263, 9836, 126, 3678, 303, 785, 3387, 17725, 10271, 2623, 740, 1267, 7573, 559, 4734, 975, 3662, 3266, 9691, 43, 372, 144, 3667, 535, 150, 355, 159, 728, 1004, 442, 2953, 361, 7285, 6374, 300, 1283, 177, 1589, 1869, 2247, 463, 14053, 1725, 251, 619]

In [ ]:
df_manhattan_sorted[['DBA', 'yelp_rating', 'yelp_review_count']]

,DBA,yelp_rating,yelp_review_count
1752,COLLEGE OF MOUNT ST.VINCENT (HUDSON HEIGHTS; 1...,3.2,194.0
5462,COLLEGE OF MOUNT SAINT VINCENT,4.0,20.0
6371,COLLEGE OF MOUNT SAINT VINCENT (Mag's Kitchen),0.0,0.0
646,KING'S WOK,3.7,529.0
11993,Marianne Pizza Cafe,2.9,80.0
...,...,...,...
21619,THE LOCAL,NaN,NaN
21851,HOOK & REEL,NaN,NaN
22402,DA NOI II,NaN,NaN
23834,WAR MEMORIAL ICE SKATING RINK,NaN,NaN
2971,ENZO'S OF ARTHUR AVE,NaN,NaN

In [ ]:
df_manhattan_sorted.to_csv("manhattanyelp.csv")